In [19]:
import datafaucet as dfc

In [20]:
# start the engine
project = dfc.project.load()

Init engine "spark"
Configuring packages:
  -  mysql:mysql-connector-java:8.0.12
  -  org.apache.hadoop:hadoop-aws:3.2.1
Configuring conf:
  -  spark.hadoop.fs.s3a.access.key : ****** (redacted)
  -  spark.hadoop.fs.s3a.endpoint : http://minio:9000
  -  spark.hadoop.fs.s3a.impl : org.apache.hadoop.fs.s3a.S3AFileSystem
  -  spark.hadoop.fs.s3a.path.style.access : true
  -  spark.hadoop.fs.s3a.secret.key : ****** (redacted)
Connecting to spark master: local[1]

INFO:kafka.producer.kafka:Closing the Kafka producer with 0 secs timeout.
INFO:kafka.producer.kafka:Proceeding to force close the producer since pending requests could not be completed within timeout 0.

Engine context spark:2.4.4 successfully started

In [21]:
dfc.list('mysql', 'races').data.collect()

     name    type
0      id  bigint
1    name  string
2   trade  double
3   fight  double
4  greedy  double

In [4]:
df = dfc.load('races', 'mysql')

In [5]:
df.data.grid()

   id   name  trade  fight  greedy
0   0  human    0.3    0.7     0.5
1   1  dwarf    0.6    0.4     0.8
2   2    orc    0.2    0.8     0.5
3   3    elf    0.8    0.2     0.2

In [8]:
df = (df
    .cols.find(by_type='double').rand()
    .cols.get('name').hashstr(salt='foobar')
    .rows.sample(3)
)

In [17]:
df.data.grid()

   id      name     trade     fight    greedy
0   0  D420C715  0.595183  0.966676  0.612934
1   2  1ECC2478  0.350147  0.054780  0.115855

In [15]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- trade: double (nullable = false)
 |-- fight: double (nullable = false)
 |-- greedy: double (nullable = false)

In [16]:
df.save('races', 'minio')

True

In [16]:
dfc.list('minio', 'races').data.grid()

                                                name  type
0                                           _SUCCESS  FILE
1  part-00000-352df1b1-4682-44fd-b288-c8349233af4...  FILE