In [1]:
import datafaucet as dfc

In [2]:
# start the engine
project = dfc.project.load()

created SparkEngine
Init engine "spark"
Configuring packages:
  -  mysql:mysql-connector-java:8.0.12
  -  org.apache.hadoop:hadoop-aws:3.2.1
Configuring conf:
  -  spark.hadoop.fs.s3a.access.key : ****** (redacted)
  -  spark.hadoop.fs.s3a.endpoint : http://minio:9000
  -  spark.hadoop.fs.s3a.impl : org.apache.hadoop.fs.s3a.S3AFileSystem
  -  spark.hadoop.fs.s3a.path.style.access : true
  -  spark.hadoop.fs.s3a.secret.key : ****** (redacted)
Connecting to spark master: local[1]
Engine context spark:2.4.4 successfully started

In [8]:
dfc.list('mysql').data.grid()

         name        type
0   artifacts  BASE TABLE
1  categories  BASE TABLE
2       races  BASE TABLE

In [9]:
df = dfc.load('races', 'mysql')

In [10]:
df.data.grid(5)

   id   name  trade  fight  greedy
0   0  human    0.3    0.7     0.5
1   1  dwarf    0.6    0.4     0.8
2   2    orc    0.2    0.8     0.5
3   3    elf    0.8    0.2     0.2

In [11]:
df.save('races', 'minio')

True

In [12]:
dfc.list('minio', '/prod/oasis/races').data.grid()

                                                name  type
0                                           _SUCCESS  FILE
1  part-00000-4776c04e-6526-4916-9ce6-2c39e3010bc...  FILE