In [1]:
import datafaucet as dfc

In [2]:
# start the engine
project = dfc.project.load()

created SparkEngine
Init engine "spark"
Configuring packages:
  -  mysql:mysql-connector-java:8.0.12
  -  org.apache.hadoop:hadoop-aws:3.2.1
Configuring conf:
  -  spark.hadoop.fs.s3a.access.key : ****** (redacted)
  -  spark.hadoop.fs.s3a.endpoint : http://minio:9000
  -  spark.hadoop.fs.s3a.impl : org.apache.hadoop.fs.s3a.S3AFileSystem
  -  spark.hadoop.fs.s3a.path.style.access : true
  -  spark.hadoop.fs.s3a.secret.key : ****** (redacted)
Connecting to spark master: local[1]
Engine context spark:2.4.4 successfully started

In [4]:
df = dfc.load('races', 'mysql')

pppppp

In [5]:
df.data.grid(5)

   id   name  trade  fight  greedy
0   0  human    0.3    0.7     0.5
1   1  dwarf    0.6    0.4     0.8

In [6]:
dfc.resources.Resource("artifacts", 'minio')

hash: '0x4e0c10fd'
url: s3a://prod/oasis/artifacts
service: s3a
version: 3.1.1
format: parquet
host: minio
port: 9000
user: prod-user
password: prod-password
options: {}

In [7]:
df.save('races', 'minio')

True

In [8]:
from datafaucet import logging as log

In [9]:
log.warning('test')

WARNING:dfc:run_code test

In [10]:
log.notice('hello')

NOTICE:dfc:run_code hello